.about_content {
    letter-spacing: 1px;
    line-height: 24px;
    display:flex;
    justify-content: space-between;
}

.about_text {
    max-width: 600px;
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.about_text a {
    margin: 30px auto;
}

.about_img_container {
    padding: 20px;
    margin: 10px;
}

.about_img {
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 300px;
}

.about_text h2 {
    font-size: 1.8rem;
    color: var(--c01);
}

@media (max-width: 900px) {

    .about_content {
        flex-direction: column-reverse;
        align-items: center;
        margin: auto;
    }

    .about_container, .about_text {
        padding:20px;
        margin: auto;
        text-align: center;
    }

    footer {
        background-color: var(--c05);
    }
}

@media (max-width: 600px) {
    .about_img {
        width: 250px;
        height: 300px;
    }

    main {
        min-height: auto;
    }

    .about_text {
        padding: 0px;
    }
}