/*---- card ----*/

.card_img {
    background-size: cover;
    background-position: center;
    min-height: 270px;
    min-width: 350px;
}

.blog_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card {
    background-color: var(--c05);
    box-shadow: 0 5px 10px var(--c09);
    margin: 20px auto;
    transition: 0.5s ease-in-out;
    max-width: 350px;
}

.card:hover {
    transform:scale(1.05);
    box-shadow: 0 8px 12px var(--c06);
}

.card_text {
    padding: 20px;
}

.card_text h3 {
    margin-top:0px;
}

.card hr {
    border: 1px solid var(--c01);
}

.blogs_header {
    max-width: 400px;
    padding-left:25px;
}

.date {
    text-align: end;
}

/*---- View more button ----*/

.view_more {
    text-align: center;
    margin: auto;
    text-decoration: underline var(--c03);
    cursor: pointer;
    max-width: 100px;
}

.view_more h5 {
    margin-bottom: 60px;
    transition: 0.3s ease-in-out;
}

.view_more h5:hover {
    transform: scale(1.1);
    
}
/*---- Media ----*/

@media (max-width: 700px) {

    .card_img{
        min-height: 200px;
        min-width: 250px;
    }

    .head_01 {
        text-align: center;
    }

}