main{
    padding-bottom: 25px;
}

footer {
    background-color: var(--c05);
}

/*---- card ----*/

.card_container {
    padding: 0px 50px;
}

.card_img {
    background-size: cover;
    background-position: center;
    min-height: 230px;
}

.blog_posts {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: var(--c05);
    box-shadow: 0 5px 10px var(--c09);
    margin: 20px auto;
    transition: 0.5s ease-in-out;
    max-width: 350px;
    transform: scale(0.95);
}

.card:hover {
    transform:scale(1);
    box-shadow: 0 8px 12px var(--c06);
}

.card_text {
    padding: 20px;
}

.card_text h2 {
    margin-top:0px;
    font-size: 1.7rem;
}

.card hr {
    border: 1px solid var(--c01);
}

.blogs_header h1, .blogs_header p {
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.blogs_header hr {
    max-width: 80%;
}

.date {
    text-align: end;
}

/*---- View more button ----*/

.view_more {
    text-align: center;
    margin: 10px auto;
    padding-bottom: 10px;
    cursor: pointer;
    max-width: 125px;
}

.view_more p {
    margin: 30px auto;
    font-size:1.4rem;
    transition: 0.3s ease-in-out;
}

.view_more h5:hover {
    transform: scale(1.1);
    
}

/*---- Media ----*/

@media (max-width: 700px) {

    .card_img{
        min-height: 200px;
        min-width: 250px;
    }

    .head_01 {
        text-align: center;
    }

    .blogs_header {
        padding-left: 0px;
    }

}