a {
    text-decoration: none;
    color: var(--tc01);
}

nav li {
    font-size: 25px;
    letter-spacing: 3px;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    display:none;
}

/*-- Footer --*/

footer {
    text-align: center;
    padding-top: 20px;
    color: var(--tc01);
    font-family: var(--ft02);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
}

/*-- Hover --*/

nav a:hover {
    background-color: var(--tc01);
    color: var(--bc01);
}


@media (max-width: 1000px) {

    /*-- Hamburger menu --*/

    nav a {
        background-image: linear-gradient(var(--tc06), var(--tc06));
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 50% ;
        background-repeat: no-repeat;
        transition: background-size 0.3s ease-in-out;
    }

    nav a:hover {
        background-color: var(--tc02);
        color: var(--tc06);
    }

    nav a:hover,
    nav a:focus,
    nav a:active {
        background-size: 100% 0.1em;
    }
    
    .navigation {
        display: none;
        position: relative;
        z-index: 9999;
        top: -126px;
        right: -18px;
    }
    
    .navigation ul {
        flex-direction: column;
        position: absolute;
        background-color: var(--tc02);
        right: 18px;
        top: 110px;
        padding: 10px;
    }

    .navigation a {
        color: var(--tc06);
    }

    .hamburger {
        display:flex;
        justify-content: flex-end;
        padding: 10px;
        font-size: 30px;
        color: var(--tc02);
        position: absolute;
        top: 50px;
        right: 20px;
    }

    /* logo */

    .navigation li {
        padding: 10px 25px;
    }

    .hopes_journey {
        max-width: 100%;
        display:flex;
        justify-content: center;
    }
}