a {
    text-decoration: none;
    color: var(--tc01);
}

nav li {
    font-size: 25px;
    letter-spacing: 3px;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

/* Footer */

footer {
    text-align: center;
    padding: 40px;
    color: var(--tc01);
    font-family: var(--ft02);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
}