:root {
    --ft01: eds-market-wide,sans-serif;
    --ft02: ff-uberhand-text-pro,sans-serif;
}

/* imported fonts */

.font_1 {
    font-family: eds-market-wide,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font_2 {
    font-family: ff-uberhand-text-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

/* headers */

h1 {
    font-size: 30px;
}
h2 {
    font-size: 40px;
}
h3 {

}
h4 {

}
h5 {

}

/* Nav */

nav li {
    font-size: 25px;
    letter-spacing: 3px;
}