:root {
    --ft01: good-karma-smooth-wideup,sans-serif;
    --ft02: ff-uberhand-text-pro,sans-serif;
}

/* imported fonts */

.font_1 {
    font-family: good-karma-smooth-wideup,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.font_2 {
    font-family: ff-uberhand-text-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

/* headers */

h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

.head_01 h1 {
    font-family: var(--ft02);
    color: var(--tc01);
    margin-top: 60px;
}