/* Main content */

main {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    min-height: 80vh
}

body { 
    padding:10px;
}

.content_width {
    max-width: 1000px;
    margin: auto;
}

/* Header */

header {
    max-width: 1280px;
    margin:auto;
}

.hopes_journey {
    max-width: 200px;
    padding:20px;
}

.hopes_journey h2 {
    margin: 0px;
}

.logo_header h1 {
    padding: 20px;
    margin: 40px 0px;
    max-width: 300px;
}

.navigation ul {
    padding: 0px;
}

.navigation li {
    padding: 20px 40px;
}

