/* Main content */

main {
    max-width: 1280px;
    margin: auto;
    padding: 20px;
    min-height: 100vh
}

/* Header */

header {
    max-width: 1280px;
    margin:auto;
}

.logo_header {
    margin: 40px 0px;
}

.navigation ul {
    padding: 0px;
}

.navigation li {
    padding: 20px;
}



/* Footer */