:root {
    --c01:#6444ab;
    --c02:#0D1329;
    --c03:#53595A;
    --c04:#EFF3F6;
    --c05:#FEFEFE;
    --c06:#C6C9CA;
    --c07:#046715;
    --c08:#9D2315;
    --c09:#0f22561f;
    --c10:#e08b5a;
    --c11:#b39ae7;
    --c12:#0d1329a1
}