/*---- header ----*/

a, li {
    text-decoration: none;
    list-style: none;
}

.header_container {
    padding: 25px 0px;
    min-width: 100%;
    background-color: var(--c05);
    position: fixed;
    z-index: 999;
    box-shadow: 0px 2px 1px var(--c04);
}

.header_content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 0px 40px;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_container h2 {
    color: var(--c01);
    font-family: var(--ft02);
    font-size: 2rem;
    font-weight: 400;
    margin: 0px;
}

.logo_container p {
    padding: 0px 20px;
    margin: 0px;
    font-size: 1rem;
}

/*---- nav ----*/

.nav_container ul {
    display:flex;
    margin: 0px;
    padding: 0px;
}

.nav_container a {
    padding: 10px 20px;
    color: var(--c03);
    font-family: var(--ft01);
    background-image: linear-gradient(var(--c01), var(--c01));
    background-size: 0% 0.1em;
    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
}

.nav_container a:hover,
.nav_container a:focus,
.nav_container a:active {
    background-size: 100% 0.1em;
}

/* ---- hamburger ----*/

.hamburger_container {
    display: none;
}

/*----footer----*/

footer {
    text-align: center;
    margin: auto 0px;
    padding:10px;
    background-color: var(--c04);
}

/*---- Media ----*/

@media (max-width: 750px) {
    .nav_container {
        position: absolute;
        left: 50%;
        top: 222px;
        transform: translate(-50%,-50%);
        background-color: var(--c03);
        width: 100%;
        z-index: 999;
    }

    nav {
        padding: 10px;
    }

    .hide_nav {
        display:none;
    }

    /*---- hamburger ----*/

    .nav_container ul {
        flex-direction: column;

    }

    .nav_container li {
        margin: 23px auto;
    }

    .nav_container a {
        color: var(--c05);
        padding: 15px;
        background-image: linear-gradient(var(--c05), var(--c05));
    }

    .hamburger_container {
        display: block;
    }

    .hamburger {
        color:var(--c01);
        font-size: 1.8rem;
    }
}

@media (max-width: 450px) {
    .logo_container {
        flex-direction: column;
    }

    .logo_container p {
        padding: 10px
    }

    .nav_container {
        top: 245px;
    }

    .header_container {
        padding-bottom: 10px;
    }
}