@import url("./global-colors.css");
@import url("./global-text.css");
@import url("./global-header_footer.css");

body {
  margin:0px;
}

.layer {
    background-color: var(--c04);
}

.content_width {
    max-width: 1200px;
    padding:40px;
    margin:auto;
}

.button_01 {
    color: var(--c05);
    padding: 15px 20px;
    background-color: var(--c01);
    border-radius: 10px;
    font-family: var(--ft01);
}

/*---- loading ----*/

.loading_icon {
    border-radius: 50%;
    border-top: 5px solid var(--c01);
    border-right: 5px solid transparent;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    margin: 50px auto;
}

@keyframes rotation {
  0% { 
    transform: rotate(0deg); 
  }
  100% { transform: rotate(360deg);
  }
}

.remove {
    display:none;
}