/* Main content container */

.home_container {
    margin: 50px auto;
    padding: 40px;
}

/* Featured image */

.home_img {
    background-image: url("/images/main.jpg");
    background-size: cover;
    min-height: 40vh;
    background-position-y: bottom, center;
    display:flex;
}

.home_img h2 {
    max-width: 400px;
    line-height: 60px;
    margin: 70px;
    font-size: 30px;
    color: var(--tc06);
    font-family: var(--ft02);
    display:flex;
    align-items: center;
}

/* Slider */

.slider_header {
    color: var(--tc01);
    font-family: var(--ft02);
    margin-top: 100px;
}

.slider_header h3 {
    margin: 0px;
}

.slider_container {
    display:flex;
    align-items: center;
    margin: 20px auto;
}

.slider_img {
    background-size: cover;
    min-height: 300px;
    min-width: 333px;
}

.slider {
    display: flex;
    overflow-x: auto;
}

.slider_card {
    background-color: var(--bc03);
    box-shadow: 0 5px 10px var(--tc03);
    text-align: center;
    transform: scale(.95);
}

.arrows {
    font-size: 50px;
    color: var(--tc01);
    margin: 10px;
}

.slider::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 10px solid var(--tc03);
}

.slider::-webkit-scrollbar-thumb {
    background-color: var(--tc01);
    outline: 2px solid var(--tc01);
}