/*---- Featured section ----*/

.home_ft {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.home_img {
    max-width: 50%;
    height: auto;
}

.home_ft_text {
    max-width: 50%;
    padding-right: 40px;
}

.home_ft_text p {
    margin-top: 50px;
}

/*---- home section ----*/

.section_img {
    max-width: 50%;
}

.section_part01 {
    max-width: 450px;
    margin-bottom: 60px;
}

.section_part02 a {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.section_part02 a:hover {
    background-color: var(--c09);
    transform:scale(1.01)
}

.section_text {
    padding-left: 40px;
    padding-right: 20px;
}

/*---- slider ----*/

.dots {
    text-align: center;
    margin: 20px;
}

.dots > a {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display:inline-block;
    margin: 10px;
    background-color: var(--c06);
}

.dot:hover,
.dot:active {
    background-color: var(--c03);
}

.slider_card {
    transform: scale(0.95);
    box-shadow: 0 5px 10px var(--c09);
    transition: 0.5s ease-in-out;
}

.slider_card:hover {
    transform: scale(0.98);
    box-shadow: 0 5px 8px var(--c06);
}

.slider_card h3 {
    margin: 10px auto;
    font-size: 1.3rem;
}

.slider_date {
    font-size: 1rem;
    text-align: end;
    margin:10px;
}

.slider_text {
    padding: 15px;
}

.slider_text hr {
    color: var(--c01);
    margin: 40px auto;
    border: 1px solid
}

.slider_img {
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 270px;
    margin: 0px;
}

.slider {
  max-width: 1220px;
  overflow: hidden;
  margin: auto;
  padding: 0px 40px;
}

.slides {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.7s;
    display: flex;
}

.slides::-webkit-scrollbar {
    display:none
}

@media (max-width: 800px) {

    .home_img {
        max-width: 80%;
    }

    .home_ft {
        flex-direction: column;
        margin: auto;
    }

    .home_ft_text {
        padding: 0px;
        max-width: 80%;
    }

    .my_blog_container {
        max-width: 80%;
        margin:auto;
    }

    .section_part02 a {
        flex-direction: column;
    }

    .section_text {
        padding: 0px;
    }

    .section_img {
        max-width: 100%;
    }

    .section_part01 {
        max-width: 100%;
        margin: 60px auto;
    }

    .slider {
        display:flex;
        flex-direction: column-reverse;
    }

    .slider_header h2 {
        text-align: center;
    }

    .slider_text {
        text-align: center;
        padding: 15px 0px;
    }

    .slider_text p,
    .slider_text hr {
        display:none;
    }

    .slider_text h3 {
        font-size: 1rem;
    }

    .slider_card {
        width: 33%;
    }

    .slider_img {
        min-height: 150px;
    }

}

@media (max-width: 600px) {
    
    .home_ft_text {
        padding:20px;
    }

    body {
        text-align: center;
    }

    .slides > div {
        flex-direction: column;
    }

    .slider_card {
        width: 80%;
        margin: 10px auto;
    }

    .slider_img {
        min-height: 80px;
    }

    .slider_text {
        padding: 0px;
    }

    .slider {
        max-width: 100%;
    }
}