/* All the content and featured image*/

.blog_content {
    margin: 70px auto;
    color: var(--tc01);
    font-size: 18px;
}

.ft_img {
    width: 100%;
    height: auto;
}

.blog_content h1 {
    margin: 20px auto;
    font-size: 48px;
}

hr {
    margin-bottom: 20px;
}

.date {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

/* main content text and image */

.blog_main_content {
    padding: 40px 20px;
    box-shadow: 0 5px 10px var(--tc03);
    background-color: var(--bc03);
    margin: 40px auto;
    display:flex;
    flex-direction: column;
    align-items: center
}

.blog_main_content p, figure img {
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}